html {
    min-height: 100%;
}

* {
    line-height: 1.5;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    display: block;
    /* margin: 0px auto; */
    width: auto;
    border: 1px solid black;
}

header, footer {
    margin: 15px auto;
    width: 800px;
}

#headertext:hover {
    text-decoration: none;
}

section {
    margin: 30px auto 100px auto;
    width: 800px;
}

h1 {
    font-family: 'Libre Bodoni', serif;
    font-size: 16px;
}

p {
    margin: 5px 0px;
    font-size: 11px;
}

ol, ul {
    padding-left: 0px; 
    font-size: 11px;
}

ul {
    margin: 0px;
    /* list-style-type: square; */
    font-size: 11px;
}

li {
    font-size: 11px;
    margin: 11px 0px 0px 12px;
}

header, footer {
    text-align: center;
}

footer {
    margin: 0px auto 15px auto;
}

footer > div {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

a, a:link {
    color: blue;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

hr {
    height: 1px;
    color: black;
    background-color: black;
    border: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 235px);
    row-gap: 30px;
}

main {
    flex: 1 0 auto;
}

#sticker {
    flex-shrink: 0;
    width: 100%;
}

#theme:hover {
    cursor: pointer;
    text-decoration: underline;
}